body {
    background-image: url('bliss.jpeg');
    /* Replace with your image path */
    background-size: cover;
    /* Covers the entire element, cropping if necessary */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    background-attachment: fixed;
    /* Fixes the background relative to the viewport */
    background-position: center center;
    /* Centers the image */
}

#start-menu {
    position: fixed;
    /* Key property: fixes the element relative to the viewport */
    bottom: 0;
    /* Positions it at the bottom edge of the viewport */
    left: 0;
    /* Positions it at the left edge of the viewport */
    width: 100%;
    /* Makes it span the full width of the viewport */
    background-color: #d3d0c9;
    z-index: 1000;
    /* Ensures it stays on top of other content */
    display: flex;
    flex-direction: row;
    align-items: center;
}

marquee {
    font-size: medium;
}

#logo {
    height: 18px
}

#start-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d3d0c9;
    border: outset 2px;
    border-color: #e9e7e1 #a19f9a #a19f9a #e9e7e1;
    margin: 2px;
    padding: 5px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    font-size: medium;
}

#start-button:active {
    border: inset 2px;
    border-color: #a19f9a #e9e7e1 #e9e7e1 #a19f9a;
}

#clock {
    background-color: #d3d0c9;
    border: inset 2px;
    border-color: #a19f9a;
    margin: 2px;
    padding: 5px;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    font-size: medium;
}


.window-body {
    text-align: center
}

#article-space {
    position: absolute;
    top: 0;
    left: 20px;
    width: 1500px;
    height: 1030px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#article-window {
    height: fit-content;
}

#narrator-window {
    position: absolute;
    top: 90px;
    right: 20px;
    width: 350px;
    height: fit-content;
}

#qr-code-window {
    position: absolute;
    top: 500px;
    right: 20px;
    width: 350px;
    height: fit-content;
}

#article-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#narrator-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title-bar {
    height: 25px;
    font-size: 17px;
}

#loading {
    width: 100%;
    display: none;
}

#qr-code {
    width: 100%;
}

#narrator {
    width: 100%
}

#hero {
    max-height: 800px;
}

#description {
    font-size: large;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Pixelated MS Sans Serif", Arial;
    background-color: white;
}

#footer-1 {
    font-size: medium;
}

#footer-2 {
    font-size: medium;
}